/* nav.navbar.navbar-default {
  width: auto;
  margin-bottom: 0;
  margin-left: 0px;
  background-color: blue;
  color: white;
} */
/* .container {
  background-color: blue;
} */

.nav-item {
  color: white;
}